<div class="client-logos">
    <div class="client-logos-scroll">
        <img src="{{ "/images/lg (1).JPG" | relURL }}" alt="Pharmaceutical Industry Client - Chennai Pharma Consultants" height="60" />
        <img src="{{ "/images/lg (2).jpg" | relURL }}" alt="Pharmaceutical Client Logo" height="60" />
        <img src="{{ "/images/lg (3).jpg" | relURL }}" alt="Pharma Industry Partner" height="60" />
        <img src="{{ "/images/mount mettur.jpg" | relURL }}" alt="Mount Mettur Pharma - Client" height="60" />
        <img src="{{ "/images/fabricon.jpg" | relURL }}" alt="Fabricon - Pharmaceutical Client" height="60" />
        <img src="{{ "/images/RR medi.jpg" | relURL }}" alt="RR Medi - Pharmaceutical Client" height="60" />
        <img src="{{ "/images/lg (9).jpg" | relURL }}" alt="Pharmaceutical Client Company" height="60" />
        <img src="{{ "/images/lg (10).jpg" | relURL }}" alt="Pharma Industry Client Logo" height="60" />
        <img src="{{ "/images/lg (11).png" | relURL }}" alt="Pharmaceutical Consulting Client" height="60" />
        <img src="{{ "/images/lg (12).png" | relURL }}" alt="Pharma Industry Partner Logo" height="60" />
        <img src="{{ "/images/lg (13).jpg" | relURL }}" alt="Pharmaceutical Client Company Logo" height="60" />
        <img src="{{ "/images/lg (14).jpg" | relURL }}" alt="Pharma Industry Client" height="60" />
        <img src="{{ "/images/lg (15).jpg" | relURL }}" alt="Pharmaceutical Client Partner" height="60" />
        <img src="{{ "/images/lg (16).jpg" | relURL }}" alt="Pharma Consulting Client Logo" height="60" />
        <img src="{{ "/images/lg (4).jpg" | relURL }}" alt="Pharmaceutical Industry Client" height="60" />
        <img src="{{ "/images/lg (5).png" | relURL }}" alt="Pharma Client Company" height="60" />
        <!-- Duplicate for seamless loop -->
        <img src="{{ "/images/lg (1).JPG" | relURL }}" alt="Pharmaceutical Industry Client - Chennai Pharma Consultants" height="60" />
        <img src="{{ "/images/lg (2).jpg" | relURL }}" alt="Pharmaceutical Client Logo" height="60" />
        <img src="{{ "/images/lg (3).jpg" | relURL }}" alt="Pharma Industry Partner" height="60" />
        <img src="{{ "/images/mount mettur.jpg" | relURL }}" alt="Mount Mettur Pharma - Client" height="60" />
        <img src="{{ "/images/fabricon.jpg" | relURL }}" alt="Fabricon - Pharmaceutical Client" height="60" />
        <img src="{{ "/images/RR medi.jpg" | relURL }}" alt="RR Medi - Pharmaceutical Client" height="60" />
        <img src="{{ "/images/lg (9).jpg" | relURL }}" alt="Pharmaceutical Client Company" height="60" />
        <img src="{{ "/images/lg (10).jpg" | relURL }}" alt="Pharma Industry Client Logo" height="60" />
        <img src="{{ "/images/lg (11).png" | relURL }}" alt="Pharmaceutical Consulting Client" height="60" />
        <img src="{{ "/images/lg (12).png" | relURL }}" alt="Pharma Industry Partner Logo" height="60" />
        <img src="{{ "/images/lg (13).jpg" | relURL }}" alt="Pharmaceutical Client Company Logo" height="60" />
        <img src="{{ "/images/lg (14).jpg" | relURL }}" alt="Pharma Industry Client" height="60" />
        <img src="{{ "/images/lg (15).jpg" | relURL }}" alt="Pharmaceutical Client Partner" height="60" />
        <img src="{{ "/images/lg (16).jpg" | relURL }}" alt="Pharma Consulting Client Logo" height="60" />
        <img src="{{ "/images/lg (4).jpg" | relURL }}" alt="Pharmaceutical Industry Client" height="60" />
        <img src="{{ "/images/lg (5).png" | relURL }}" alt="Pharma Client Company" height="60" />
    </div>
</div>
