<div class="intro-box">
    <div class="intro-content">
        <p class="intro-lead">Chennai Pharma Consultant has been consistently serving the pharmaceutical industries since <strong>2003</strong>. Over the years, CPC is one of the leading consulting firm offering turnkey solutions to the pharmaceutical industry globally.</p>
        
        <p>Chennai Pharma Consultant offers comprehensive services through a systematic approach including Product Forecast, Estimation of Production Capacity, Project Mission Assignment, Design Concept & Conceptual Drawings, Development of Process Flow, Development of Room Data Sheet, Develop Project Validation Master Plan, Equipment Listing, Sourcing of Equipments, and Documentation (URS, FDS, IQ, OQ, PQ, FAT, SAT).</p>
    </div>
</div>

